/*LOGOS*/
.logo {
  height: 7rem;
  width: 7rem;
}

.logo--linkedin {
  width: 3.2rem;
  height: 3.2rem;
}

.logo--mail {
  width: 4rem;
  height: auto;
  margin: 0 0.8rem 0 0.8rem;
}

.logo--wsp {
  width: 3rem;
  height: auto;
  margin: 0 0.8rem 0 0.8rem;
}
